dist/main.dist
dist/main.build
dist
*.plist
*.iconset
*.icns
.DS_Store
nuitka-crash-report.xml
presets.json
ip_switcher.py
build
*.spec
ip_switcher.bin
*.so
*.dylib
*.tcl
*.enc
*.msg
*.gif
*.eps
ip_switcher.dist
ip_switcher.app/Contents/MacOS/ip_switcher
.gitignore
